<!DOCTYPE html>
<html ng-app="errorPageApp">
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Incremental Integers UI</title>
      <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="app/css/application.css"/>
      <script src="node_modules/angular/angular.min.js"></script>
      <script src="node_modules/angular-route/angular-route.min.js"></script>
      <script src="app/app.js"></script>
      <script src="app/controllers/error.js"></script>
   </head>

    <body>
      <div ng-controller="errorController as err">
        <h1 class="error">This is embaracing, but something unexpected just happened</h1>
        <br/>
        <p class="leader">
          <button ng-click="err.backHome()" class="btn btn-lg btn-success">Please bring me back Home</button>
        </p>
      </div>
    </body>
</html>
