<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="masthead clearfix">
      </div>

      <div ng-controller="numberController as currentNumber" class="inner cover">
        <div ng-if="!!currentNumber.apiKey" class="lead">
          <h1 class="cover-heading">Current Number: {{currentNumber.number}}</h1>
          <p class="lead">Try out the next number or reseting it, it's very fun !</p>
          <p class="lead">
            <button ng-click="currentNumber.update()" class="btn btn-lg btn-success">Next Number</button>
          </p>
          <form name="resetForm" ng-submit="resetForm.$valid && currentNumber.reset()" 
          class="form-inline" novalidate>
            <p class="lead">
              <input name="resetNumber" type="number" ng-model="currentNumber.resetNumber" ng-min="0" class="form-control"></input>
              <input type="submit" value="Reset Number" class="btn btn-default"></input>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>