<form name="signupForm" ng-controller="signupController as signup"
  ng-submit="signupForm.$valid && signup.signup(credentials)" class="form-signin" novalidate>
  <h2 class="form-signin-heading">Please sign up</h2>
  <label for="email" class="sr-only">Email:</label>
  <input type="email" id="email" ng-model="credentials.email" 
  ng-pattern="signup.emailFormat" class="form-control" placeholder="Email address" 
  required autofocus/>
  <label for="password" class="sr-only">Password:</label>
  <input type="password" id="password" ng-model="credentials.password" 
  ng-minlength="6" class="form-control" placeholder="Password" required/>
  <br/>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>
<div ng-show="!!message">{{message}}</div>